#signupbody {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

.container {
	max-width: 600px;
	margin: auto;
	padding: 50px;
	background-color: #f2f2f2;
}

form {
	background-color: #ffffff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #ccc;
}

h2 {
	text-align: center;
	margin-bottom: 30px;
	color: #333;
}

label {
	display: block;
	margin-bottom: 5px;
	color: #333;
}

input[type="email"],input[type="text"], input[type="number"], input[type="password"] {
	width: 97%;
	padding: 12px;
	margin-bottom: 20px;
	border: none;
	border-radius: 4px;
	background-color: #f2f2f2;
}

.submit {
	background-color: #328F8A;
	position: relative;
    left: 42%;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
	background-color: #328F8A;
}

@media screen and (max-width: 480px) {
	.container {
		padding: 20px;
	}

	h2 {
		font-size: 24px;
	}

	input[type="submit"] {
		padding: 10px 16px;
	}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
	.container {
		padding: 30px;
	}

	h2 {
		font-size: 32px;
	}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
	.container {
		padding: 40px;
	}

	h2 {
		font-size: 36px;
	}
}

.container {
	background-color: #f5f5f5;
}

form {
	background-color: #fff;
	box-shadow: 0px 0px 20px #ddd;
}

input[type="submit"] {
	background-color: #328F8A;
}

input[type="submit"]:hover {
	background-color: #216865;
}
