body{
    background-color: rgb(31, 31, 31);
    font-family: 'Kanit', sans-serif;
}
#banner{
    position: absolute;
    top: 3vw;
}
h2{
    font-size: 2.7rem;
}
#first{
    width: 50vw;
    position: relative;
    left: 25vw;
    background-color: #328f8a;
    padding: 6%;
    border-radius: 70px;
    color: rgb(31, 31, 31);
}
.text1{
    font-size:2rem ;
}
.text{
    font-size:1.5rem;
}