nav {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    background-color: rgb(58, 58, 58);
    padding: 10px 20px;
    color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0, 0.06);
    font-family: 'Kanit', sans-serif;
}

#nav_list {
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav_list li {
    list-style: none;
    padding: 0 50px;
}

.nav_items {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

#main_logo_andname {
    display: flex;
    align-items: center;
}

#companyname {
    font-size: 2rem;
    padding-left: 10px;
}

#searchbox {
    width: 116%;
    height: 2.4rem;
    border-radius: 20px;
    position: relative;
    left: 260%;
}

#loginsignup {
    display: flex;
    justify-content: center;
    width: 15rem;
}

#logins {
    position: absolute;
    right: 3%;
}

#logins a:hover {
    background-color: rgb(95, 204, 168);
    color: rgb(58, 58, 58);
}

#logins a {
    color: white;
    text-decoration: none;
}

#login {
    width: 10rem;
    font-size: 1.4rem;
    padding: 3px 13px;
    border: 2px solid white;
    /* border: 2px solid rgb(63, 226, 134); */
    border-radius: 8px;
}

#signup {
    width: 10rem;
    margin-left: 20px;
    font-size: 1.4rem;
    padding: 3px 13px;
    border: 2px solid white;
    border-radius: 8px;
}