.navbar{
    padding: 0;
    margin: 0;
}

nav {
    z-index: 2;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #282828;
    padding: 10px 20px;
    color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0, 0.06);
    font-family: 'Kanit', sans-serif;
    width: 100vw;
}

.logoAndOptions{
    display: flex;
    align-items: center;
}

.searchAndBtns{
    display: flex;
    align-items: center;
    width: 35%;

}

#nav_list {
    padding-top: 10px;
    display: flex;
    align-items: center;
}

#nav_list li {
    list-style: none;
    padding: 0 50px;
}

.nav_items {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

#main_logo_andname {
    display: flex;
    align-items: center;
}

#companyname {
    font-size: 2rem;
    padding-left: 10px;
}

#searchbox {
    padding-top: 10px ;
    margin: auto 0px;
    height: 2.4rem;
    border-radius: 20px;
    margin-right: 2%;
}

#login a {
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
}
#signup a {
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
}
#login {
    padding:1.2% 4% 1.2% 4%; 
    margin-left: 3%;
    margin-right: 3%;
    border: 2px solid white;
    border-radius: 12px;
}
#signup {
    padding:1.2% 4% 1.2% 4%; 
    margin-left: 3%;
    margin-right: 3%;
    border: 2px solid white;
    border-radius: 12px;
}



