.topportContainer {
    margin-top: 16vh;
    text-align: center;
}

.profNwall{
    display: flex;
    flex-direction: row-reverse;
    margin: 10px;
}
.profNwall img{
    margin: 10px;
}
.profNwall img:hover{
   cursor: pointer;
}
