div {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
  }
  
div::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

.index-container{
    margin-bottom: 10px;
}

.indexCards {
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.indexCard {
  display: flex;
  flex-direction: column;
  align-content: center;
  background: rgb(243, 242, 242);
  border-radius: 5px;
  height: 125px;
  width: 30%;
  padding: 10px;
  box-shadow: 1px 1px 10px 1px rgb(196, 195, 195);
}



.indexHead:hover{
  cursor: pointer;
}

.heading {
  padding: 20px 0;

}


.gainersList {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.companyIcon{
  height: 100%;
}

.compName:hover{
  cursor: pointer;
}

.gainersCard {
  margin: 10px;
  display: inline-block;
  background: rgb(243, 242, 242);
  border-radius: 5px;
  height: 20vh;
  width: 30%;
  padding: 10px;
  box-shadow: 1px 1px 10px 1px rgb(196, 195, 195);
}

.gainersContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.candlestick-chart{
  margin: 5% 0;
}

-webkit-scrollbar {
    display: none;
  }
  
